@import "tailwindcss";


@theme inline{
  --color-primary-blue: #2563EB;
  --color-trust-green: #059669;
  --color-positive: #10B981;
  --color-neutral: #F59E0B;
  --color-negative: #EF4444;
  --color-background: #f1f8ff;
  --color-text-primary: #1F2937;
  --color-text-secondary: #FFFFFF;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}